@import url("./section.css");
@import url("./table.css");
@import url("./textbox.css");
@import url("./header.css");

* {
  color: lightgray;
  font-family: "Poiret One", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;

  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Responsivity for smartphone screens*/
@media screen and (max-width: 450px) {
  * {
    font-size: 1.05rem;
  }

  p {
    padding: 0.5rem;
  }
}
