.table {
  width: 100%;
}

.table tr td {
  text-align: start;
}

table tr td:nth-child(even) {
  text-align: end;
}

/* Responsivity for smartphone screens*/
@media screen and (max-width: 450px) {
  .table {
    padding: 0.5rem;
  }

  .table tr td {
    padding: 0;
    font-size: 1rem;
  }
}
